h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.innerContent {
  padding: 0 1rem;
}

#spinner,
#message-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 2;
  background-color: black;
}

#message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  padding: 1rem 1rem 0;
  color: white;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner.visible > div {
  animation: 1.3s infinite linear rotate;
}

#spinner > div:before {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
}

.hidding {
  transform: translateX(-100%);
  animation: 0.2s ease fade-out;
  opacity: 0;
}

.showing {
  transform: translateX(-100%);
  animation: 0.2s ease fade-in;
  opacity: 0.9;
}

.visible {
  transform: translateX(-100%);
  opacity: 0.9;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 0.9; }
}

@keyframes fade-out {
  from { opacity: 0.9; }
  to { opacity: 0; }
}
